\## User Testing Report



The below three sections are observations from each team members user testing videos.



\### Dave



\### Connor

Users struggled with the drop down

Users struggled finding where the number is



\### Jacob





\### Proposed Remedial Actions

'\*' definitely will do, other actions will be taken depending on time.

<ul>

<li>\*Intro at top</li>

<li>\*Key on Map</li>

<li>Separate State/County Drop Down</li>

<li>Political Regime Filter</li>

<li>Visualization of where population vs death rate</li>

</ul>

