\## User Testing Report



The below three sections are observations from each team members user testing videos.



\### Dave

* Page lacks explanations about its purpose and basic usage
* Map colors are confusing and unclear as to their meaning
* Map and table don't link to additional counties

\### Connor

Users struggled with the drop down

Users struggled finding where the number is



\### Jacob





\### Proposed Remedial Actions

'\*' definitely will do, other actions will be taken depending on feasibility (i.e., can Streamlit perform this, does it use too many system resources, is it too complex for the allowed time).

<ul>

<li>\*Intro at top [#89 - Sprint 05 - 02B_1M]</li>

<li>\*Key on Map [#90 - Sprint 05 - 02B_2M]</li>

<li>Separate State/County Drop Down [#91 - Sprint 05 - 02B_1O]</li>

<li>Political Regime Filter [#92 - Sprint 05 - 02B_2O]</li>

<li>Visualization of where population vs death rate [#93 - Sprint 05 - 02B_1U]</li>

</ul>

