\## User Testing Report



The below three sections are observations from each team members user testing videos.



\### Dave

* Page lacks explanations about its purpose and basic usage
* Map colors are confusing and unclear as to their meaning
* Map and table don't link to additional counties

\### Connor

Users struggled with the drop down

Users struggled finding where the number is



\### Jacob





\### Proposed Remedial Actions

'\*' definitely will do, other actions will be taken depending on feasibility (i.e., can Streamlit perform this, does it use too many system resources, is it too complex for the allowed time).

<ul>

<li>\*Intro at top</li>

<li>\*Key on Map</li>

<li>Separate State/County Drop Down</li>

<li>Political Regime Filter</li>

<li>Visualization of where population vs death rate</li>

</ul>

